*.com  
*.class  
*.dll  
*.exe  
*.o  
*.so 

*.7z  
*.dmg  
*.gz  
*.iso  
*.jar  
*.rar  
*.tar  
*.zip  
*.via
*.tmp
*.err 
*.bin
*.lock
.classpath
.project
.settings/org.eclipse.buildship.core.prefs